* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  &:focus {
    outline: 1px solid transparent;
  }
}

body {
  color: #333;
  font-size: 1rem;
  line-height: 1.65;
  overflow-x: hidden;
  font-family: "roboto-example", sans-serif;
}

li {
  list-style: none;
}

input {
  border: none;
  font-size: 12px;
  text-align: left;
}

.container {
  padding: 0 10px;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 35px 0;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__field{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.input--field{
  width: 100%;
  text-align: left;
  line-height: 30px;
  color: rgba(#000, .5);
  transition: border-bottom-color .3s;
  border-bottom: 1px solid rgba(#000, .2);

  &:hover {
    transition: border-bottom-color .3s;
    border-bottom-color: rgba(#2196F3, .5);
  }

  &:focus {
    border-bottom-color: #2196F3;
    transition: border-bottom-color .3s;
  }
}

.btn {
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 45px;
  border-radius: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  border-color: transparent;
  background-color: #2196F3;
  transition: box-shadow .3s;

  &--mgl {
    margin-left: 15px;
  }

  &:hover {
    transition: box-shadow .3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  }
}

.list__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 10px;
}

.data-field {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 15px;

  &--number {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
  }

  &--time {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    letter-spacing: .1px;
  }
}

.output-field {
  width: 100%;
  line-height: 40px;
  padding-left: 10px;
  color: rgba(#000, .7);

  &--checked {
    background-color: rgba(#000, .1);
  }

  &--unchecked {
    background-color: rgba(#2196F3, .1);

    &:focus {
      outline: 1px solid rgba(#000, .1);
    }
  }
}

.btn-panel {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  flex-shrink: 0;
  min-width: 105px;
  margin-left: 15px;
}

.check {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: filter .3s;
  background-color: #2196F3;

  &--checked {
    background-color: red;

    &::before {
      color: #2196F3;
      font-size: 37px;
    }
  }

  &--unchecked {
    background-color: green;

    &::before {
      font-size: 37px;
      color: rgba(#2196F3, .4);
    }
  }

  &:hover {
    transition: filter .3s;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .5));
  }
}

.delete {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: filter .3s;
  background-color: #2196F3;

  &::before {
    color: #fff;
    font-size: 20px;
  }

  &:hover {
    transition: filter .3s;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .5));
  }
}
